@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* *** SECTION ONE *** */

.section-1 {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.header,
.container-section-1 {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.container-section-1 {
    padding: 100px 200px;
}

.header {
    padding: 20px 200px 20px 200px;
}

.info-section-1 {
    width: 450px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.title-section-1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}

.button-section-1 {
    background-color: #3882f6;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
}

/* *** SECTION TWO *** */

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
}

.title-section-2 {
    color: #1f2937;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.sub-container-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-image-section-2 {
    width: 170px;
    text-align: center;
    margin-top: 10px;
}

.image-section-2 {
    border-radius: 15px;
}

/* *** SECTION THREE *** */

.section-3 {
    background-color: #e5e7eb;
    padding: 10% 20%;
}

.quote-section-3 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

cite {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

blockquote {
    display: flex;
    flex-direction: column;
}

.cite-section-3 {
    text-align: right;
}

.cite-container-section-3 {
    width: 93%;
    margin-top: 30px;
}

/* *** SECTION FOUR *** */

.section-4 {
    /* padding: 7% 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section-4 {
    width: 50%;
    padding: 50px 100px;
    margin: 7% 10%;
    background-color: #3882f6;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-section-4 {
    background-color: #3882f6;
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid #fff;
}

/* *** FOOTER *** */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    background-color: #1f2937;
    color: #f9faf8;
}
